<div class="card flex justify-center">
    <p-panel [header]="title">
      <textarea 
        (keyup)="onTopChange($event)"
        [disabled]="topDisabled"
        pTextarea
        [value]="topValue"
        [placeholder]="topPlaceholder">
      </textarea>
      <div>
        <i class="pi pi-arrow-right-arrow-left" style="font-size: 1rem"></i>
      </div>
      <textarea 
        (keyup)="onBottomChange($event)"
        [disabled]="bottomDisabled"
        pTextarea
        [value]="bottomValue"
        [placeholder]="bottomPlaceholder">
      </textarea>
    </p-panel>
</div>