/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
body,
body .p-component
{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 304;
  font-style: normal;
  margin: 0px;
}

html {
  background-color: #121212;
}

* {
  border-radius: unset !important;
}

.p-megamenu {
  background: unset !important;
}

.p-megamenu-overlay {
  background: var(--p-surface-800) !important;
  border: unset !important;
  border-radius: unset !important;
}

.space {
  margin-top: 10px;
}