<div class="card flex justify-center">
  <p-panel [header]="title">
    <p-fileUpload 
      name="file" 
      url="./upload" 
      (onSelect)="onFileSelect($event)" 
      [auto]="true"
      [accept]="accept"
      [previewWidth]="isPreview ? '50px' : '0px'"
    >
    </p-fileUpload>
    <p-table [value]="processedFiles" *ngIf="processedFiles.length != 0">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Format</th>
          <th>Download</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-file>
        <tr>
          <td>{{file.name}}</td>
          <td>{{file.format}}</td>
          <td><a [href]="file.link" download>{{file.name}}</a></td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>