.main-content {
    display: flex;
    justify-content: center;
}

.darkmode {
  background-color: #121212;
}

::ng-deep {
    .p-panel {
      border-radius: unset !important;
    }
    
    .p-panel-header {
      background: unset !important;
    }

    .p-fileupload-header {
      background: unset !important;
    }

    .p-fileupload {
        background: unset !important;
    }
}